<p>listado de cosas</p>

<div *ngIf="heroeBorrado != ''; else noBorrado">
    <h3>heroe borrado: <small>{{heroeBorrado}}</small> </h3>
    
</div>

<!--referencia local se identifica por el # es el else if-->
<ng-template #noBorrado>
    <h3>no a borrado nada</h3>
</ng-template>
    



<button (click)="borrarHeroe()">
    Borrar
</button>

<ul> 
    <!--heroe es la referencia de cada unos de los valores que estan dentro de heroes -->
    <li *ngFor="let heroe of heroes; let i = index">
       {{i + 1}} - {{heroe}} 
    </li>
</ul>

